{
  "presets": [
    ["env", {"targets": {"node": "current"}}],
    "stage-2"
  ],
  "env": {
    "production": {
      "plugins": []
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "personaly":  "./www/personaly",
            "cordova/exec": "./tests/js/stub/cordova-exec"
          }
        }]
      ]
    }
  }
}
