<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-personaly-tests"
    version="1.0.0-dev">
    <name>Cordova Personaly Tests</name>
    <license>MIT</license>

    <platform name="android">
        <source-file src="android/PersonalyConfigTest.java" target-dir="test/java/name/sevendus/cordova/personaly" />
        <source-file src="android/CordovaEventBuilderTest.java" target-dir="test/java/name/sevendus/cordova/personaly" />
    </platform>
</plugin>
